.main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image {
  height: 100px;
  width: 100px;
  font-size: 25px;
  background: blue;
  margin: 10px;
  display: inline-block;
  line-height: 100px;
}

.image-container {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.prev, .next {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
    color: black;
    transition: 0.6s ease;
  }
  
.next {
  margin-left: 5px;
}

.prev {
  margin-right: 5px;
}

.prev:hover, .next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
